*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: 1px solid; */
}
body{
    padding: 5vh 2vw;
    height: 100vh;
}
.container{
    height: 90vh;
    border-radius: 2vw;
    box-shadow: 0vw 0vw 4vw #002f35;
    display: grid;
    grid-template-columns: 2fr 10fr;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
}
.sideBar{
    padding: 5vh 2vw;
    padding-right: 0;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 5vh;
    /* border: 1px solid; */
    /* justify-content: center; */
    background-color: #135D66;
    color: #E3FEF7;
    border: none ;
    overflow: hidden;
}
.sideBar h1{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .5vw;
}
.sideBar h1 img{
    width: 2rem;
}
.sideBar img{
    width: 1rem;
}
.navBar, .navSettings{
    font-size: .9rem;
    display: grid;
    gap: 1vh;
    width: 100%;
}
.sideBar li{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: .5vw;
    cursor: pointer;
    transition: all .5s;
    padding: .5vw;
    padding-right: 0;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.sideBar li img{
    
    transition: all .5s;
}
.sideBar li:hover:not(.active){
    font-size: 110%;
    font-weight: bold;
    transform: translateX(5%);
    color: #002f35;
    background-color: #E3FEF7;
    gap: 1vw;
}
.sideBar li:hover img{
    filter: invert(73%) sepia(11%) saturate(914%) hue-rotate(124deg) brightness(89%) contrast(86%);
    width: 105%;
}
.active{
    font-size: 110%;
    font-weight: bold;
    transform: translateX(5%);
    color: #002f35;
    background-color: #E3FEF7;
    gap: 1vw;
}
.active img{
    filter: invert(73%) sepia(11%) saturate(914%) hue-rotate(124deg) brightness(89%) contrast(86%);
    width: 105%;
}
@media screen and (max-width: 900px){
    .sideBar .navBar{
        margin-top: 10vh;
    }
    .container{
        grid-template-columns: 50px 1fr;
    }
    .sideBar h1{
        display: none;
    }
    .sideBar li:hover{
        transform: none;
        font-size: initial;
        gap: initial;
    }
    .sideBar li img{
        transition: none;
    }
    .sideBar li:hover img{
        width: initial;
    }
    .sideBar span{
        display: none;
    }
}
.content{
    background-color: #b3c8cf5d;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    box-shadow: 0vw .5vh 2vh #002f3564;
    background-color: #E3FEF7;
    
}
input[type="search"]{
    border-radius: .4vw;
    border: none;
    /* background-color: #002f3584; */
    width: 40%;
    padding: 1vh 1vw;
    box-shadow: 0.2vh 0.1vw 0.3vw #002f35;
    transition: all 1s  ease;
    outline: #002f3500 solid .2vw;
    opacity: .6;
}
input[type="search"]:focus{
    outline: #002f359f solid .2vw;
    opacity: 1;
}
.options{
    display: flex;
    gap: 1vw;
    align-items: center;
    /* border: 1px solid; */
}
.options > *{
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.options img{
    padding: .2vw;
}
.options img:hover{
    /* background-color: #003C43; */
    border-radius: 1vw;

    filter: invert(60%) sepia(58%) saturate(180%) hue-rotate(124deg) brightness(96%) contrast(93%);
}
.options select{
    border: none;
    padding: .5vw 1vw;
    background-color: transparent;
    border-radius: 1vw;
    overflow: hidden;
    
}
.options select:hover{
    background-color: #002f35;
    color: #E3FEF7;
}
.bodyContent{
    padding: 3vh ;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 2vw;
    /* overflow: scroll; */
}
.shielf, .form{
    background-color: #E3FEF7;
    border-radius: 1vw;
    overflow-y: auto;
    padding: 1vw;
    height: 70vh;
}
.shielf h1{
    color: #002f35;
}
.shielf > div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px ,1fr));
    gap: 1vw;
    padding: 1vw;
}
.book{
    padding: 1vw;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0.1vw .1vh .5vw #002f352e;
    transition: all .5s ease;
    cursor: pointer;
    position: relative;
    display: grid;
    gap: 1vh;
}
.book:hover{
    box-shadow: 0.1vw .1vh .5vw #002f35;
    background-color: #135D66;
    color: #E3FEF7;
}
.form{
    height: fit-content;
    background-color: #135D66;
    color: #E3FEF7;
}
form{
    font-size: .8rem;
    display: none;
    grid-template-columns: 16ch 6fr;
    gap: 1vh;
}
input[type="checkbox"]{
    justify-self: start;
}
input[type="submit"]{
    grid-column: 1/3;
    cursor: pointer;
}
form >*{
    border: none;
    outline: none;
}
form input:not(input[type="checkbox"]){
    border-radius: .5vw;
    padding: .5vh .5vw;
    width: 100%;
    transition: all .4s;
}
form input:focus:not(input[type="checkbox"]){
    font-weight: bold;
    color: #E3FEF7;
    background-color: #135D66;
    outline: #E3FEF7 solid .2vw;
}
form input:hover:not(input[type="checkbox"]){
    color: #E3FEF7;
    background-color: #135D66;
    outline: #E3FEF7 solid .1vw;
}

.finished::after{
    content: url('./svgs/finished.svg');
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vh 1vw;
}
.notFinished::after{
    content: url('./svgs/notFinished.svg');
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vh 1vw;
}
.book:hover h2::after{
    filter: invert(99%) sepia(100%) saturate(50%) hue-rotate(150deg) brightness(106%) contrast(99%);
}
.del_btn{
    background-color:#002f35;
    color: #E3FEF7;
    padding: .5vh 1vw;
    outline: none;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s;
}
.del_btn:hover{
    background-color: #E3FEF7;
    color: rgba(255, 0, 0, 0.709);
}
.toggle_read{
    background-color:#002f35;
    color: #E3FEF7;
    padding: .5vh 1vw;
    outline: none;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s;
}
.toggle_read:hover{
    background-color: #E3FEF7;
    color: #002f35;
}
.add_book_btn{
    padding: .5vh 1vw;
    background-color: #002f35d4;
    color: #E3FEF7;
    outline: none;
    border: none;
    border-radius: 1vw;
    font-weight: bold;
}
.add_book_btn:hover{
    background-color: #002f35;
}
#signature{
    position: absolute;
    bottom: 0;
    left: 33vw;
    width: 33vw;
    text-align: center;
    color: #002f35;
    opacity: .8;
    font-size: .8rem;
}
@media screen and (max-width:1000px) {
    form > label, form input:not(input[type="checkbox"]){
        grid-column: 1/3;
        width: 100%;
    }
    form input[type="checkbox"]{
        grid-column: 2/3;
    }
    form input[type="number"]+label{
        grid-column: 1/2;
    }
}
@media screen and (max-width:600px) {
    .container{
        overflow: auto;
        height: fit-content;
    }
    .bodyContent{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .shielf{
        grid-row: 2/3;
    }
    #signature{
        width: fit-content;
    }
}